body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #828282;
  text-align: center;
  margin: 0;
}

#hero {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 64px;
}

img {
  margin:64px 0 32px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #3f3d56;
  margin-bottom: 16px;
}

h1 strong {
  color: #ee24ff;
}

p {
  width: 540px;
  margin: auto;
  line-height: 22px;
}

p span {
  font-weight: bold;
  color: #3f3d56;
}

p + p {
  margin-top: 32px;
}

#line {
  width: 391px;
  margin: 0 auto 16px;
  border: 1px solid #eceff2;
}

#footer {
  width: 1024px;
  margin: 0 auto;
}

#footer span {
  font-weight: bold;
  color: #3f3d56;
}

#footer span + span {
  margin-left: 28px;
}

#footer img {
  margin: 40px 0 0;
}